{% if block != blank %}
  {% style %}
    {% if block.settings.bg_color != black %}
    .section-wrapper-{{ block.id }} {
        background-color: {{block.settings.bg_color}};
    }
    {% endif %}
    {% if block.settings.text_color != black %}
    .section-wrapper-{{ block.id }} p{
        color: {{block.settings.text_color}};
    }
    {% endif %}
  {% endstyle %}
  
  <div class="section-wrapper announcement-section section-wrapper-{{ block.id }}">
    <div class="container">
      <div class="flex-row justify-content-between align-items-center">
        <div class="col-lg-3 col-xs-12 col">
          <div class="flex-row d-md-block m-lg-0">
            <div class="col-xs-3 col-lg-hidden">
              <button type="button unstyle-btn">
                <span class="icon burger-icon">
                  {% render "icon-hamburger2" %}
                </span>
                <span class="icon close-icon">
                  {% render "icon-close2" %}
                </span>
              </button>
            </div>
            <div class="col-xs-6 p-lg-0">
              <a href="javascript:void(0)" class="d-block">
                <img width="152" height="auto" src="{{ block.settings.image | img_url: "master" }}" alt="{{ block.settings.title | escape }}" />
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-9 col-xs-12 col">
          <div class="flex-row">
            <div class="col col-lg-8 col-xs-12 text-center">
              <p class="fs-5 m-0">{{ block.settings.title }}</p>
            </div>
            <div class="col col-lg-4 col-xs-12 text-right">
              <a class="btn {{ block.settings.btn_style }}" href="block.settings.btn_url">{{ block.settings.btn_text }}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endif %}