{% if block != blank %}
  {% style %}
    {% if block.settings.bg_color != black %}
    .section-wrapper-{{ block.id }} {
        background-color: {{block.settings.bg_color}};
    }
    {% endif %}
    {% if block.settings.text_color != black %}
    .section-wrapper-{{ block.id }} p{
        color: {{block.settings.text_color}};
    }
    {% endif %}
  {% endstyle %}
  
  <div class="section-wrapper {{ block.settings.visiblity_control }}ge announcement-section{% if block.settings.accordion %} announcement-accordion-section{% endif %} section-wrapper-{{ block.id }}">
    <div class="container">
      <div class="flex-row justify-content-between align-items-center">
        {% if block.settings.image != blank or block.settings.accordion == true %}
        <div class="col-lg-3 col-xs-12 col{% if block.settings.accordion %} announcement-accordion-header {% endif %}">
          <div class="flex-row d-md-block m-lg-0">
            {% if block.settings.accordion %}
            <div class="col-xs-3 col col-lg-hidden">
              <button type="button" class="unstyle-btn d-inline" onclick="togglerLight('menuToggler-{{ block.id }}', 'menu-collapse')">
                <span class="icon burger-icon">
                  {% render "icon-hamburger2" %}
                </span>
                <span class="icon close-icon hidden">
                  {% render "icon-close2" %}
                </span>
              </button>
            </div>
            {% endif %}
            {% if block.settings.image != blank %}
            <div class="col-xs-6 col p-lg-0 text-center text-lg-left">
              <a href="javascript:void(0)" class="d-inline">
                <img width="152" height="auto" src="{{ block.settings.image | img_url: "master" }}" alt="{{ block.settings.title | escape }}" />
              </a>
            </div>
            {% endif %}
          </div>
        </div>
        {% endif %}
        <div class="{% if block.settings.image != blank or block.settings.accordion == true %}col-lg-9 col-xs-12 col{% else %}col-xs-12 col{% endif %} {% if block.settings.accordion %} announcement-accordion-body {% endif %}" id="menuToggler-{{ block.id }}">
          <div class="flex-row align-items-center">
            {% if block.settings.title != blank %}
            <div class="col {% if block.settings.btn_text != blank %}col-lg-8{% endif %} col-xs-12 text-center">
              <p class="fs-5 {% if block.settings.btn_text != blank %}m-lg-0{% else %}m-0{% endif %}">{{ block.settings.title }}</p>
            </div>
            {% endif %}
            {% if block.settings.btn_text != blank %}
            <div class="col {% if block.settings.title != blank %}col-lg-4{% endif %} col-xs-12 text-center text-lg-right">
              <a class="btn {{ block.settings.btn_style }}" href="block.settings.btn_url">{{ block.settings.btn_text }}</a>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endif %}