{% assign options = product.options_with_values %}

{% style %}
  {% for option in options %}
  {% if option.name != 'color' and option.name != 'Color' and option.name != 'COLOR' %}
      {% continue %}
  {% endif %}
  {% for color in option.values %}
    {% assign c = '#fff' %}
    {% for v in product.variants %}
        {% assign ajoin = v.options | join: ", " %}
        {% if ajoin contains color %}
          {% assign c = v.metafields.custom.color %}
        {% endif %}
    {% endfor %}
        .option-{{ product.id }}-{{ color | handle }} .radio-btn:before{
          background: {{c}} !important;
        }
  
  {% endfor %}
{% endfor %}
  
{% endstyle %}

<div class="lightbox" id="lightbox-{{ product.id }}">
  <div class="lightbox-inner">
    <div class="lightbox-container">
      <div class="lightbox-body px py">
        <div class="inner px py">
            <button class="unstyle-btn" type="button">
              {% render "icon-close2" %}
            </button>
        </div>
        <div class="flex-row">
          <div class="lightbox-image col col-xs-5">
            <img src="{{ product.featured_image.src | product_img_url: "300x" }}" alt="{{ product.title | escape }}" width="100%" height="auto"/>
          </div>
          <div class="lightbox-image col col-xs-7">
            <h4>{{ product.title }}</h4> 

            <h5 class="fs-5 lustria-font">{{ product.price | money }}</h5>

            <div class="product-grid-except">
                {% if product.metafields.custom.short_description != blank %}
                  <p>{{ product.metafields.custom.short_description }}</p>
                {% else %}
                  {{ product.description }}
                {% endif %}
            </div>
          </div>
        </div>
        <div class="product-add-cart-form">
          <form class="product-grid-form" method="post" action="/cart/add" accept-charset="UTF-8" class="form" enctype="multipart/form-data" novalidate="validate" data-type="add-to-cart-form">
          <div class="product-variants" id="product-variants-{{ product.id }}">
              {% assign options = product.options_with_values %}
              {% for option in options %}
                {% if option.name != 'color' and option.name != 'Color' and option.name != 'COLOR' %}
                    {% continue %}
                {% endif %}
              <div class="product-variant-options product-options-container">
              <h6 class="fs-6 m-0 option-title">{{ option.name }}</h6>
              <div class="color-options flex flex-wrap align-items-center ecom-radio-option">
                {% for color in option.values %}
                <label for="option-{{ product.id }}-{{ color | handle }}" class="option-{{ product.id }}-{{ color | handle }}">
                  <input required type="radio" class="hidden" onchange="update_selected_variants('{{ product.id }}')" id="option-{{ product.id }}-{{ color | handle }}" name="{{ option.name | handle }}" value="{{ color }}" />
                  <span class="radio-btn">{{ color }}</span>
                </label>
                {% endfor %}
              </div>
              </div>
              {% endfor %}
            
            {% for option in options %}
                {% if option.name == 'color' or option.name == 'Color' or option.name == 'COLOR' %}
                    {% continue %}
                {% endif %}
              <div class="product-variant-options product-options-container">
              <h6 class="fs-6 m-0 option-title">{{ option.name }}</h6>
              <div class="color-options ecom-dropdown-option">
                <label for="option-{{ product.id }}-{{ option.name | handle }}">
                  <select required id="option-{{ product.id }}-{{ option.name | handle }}" name="{{ option.name | handle }}" onchange="update_selected_variants('{{ product.id }}')">
                    <option value="">Choose your {{ option.name | downcase }}</option>
                    {% for opt in option.values %}
                      <option value="{{ opt }}">
                        {{ opt }}
                      </option>
                    {% endfor %}
                  </select>
                </label>
              </div>
              </div>
              {% endfor %}
          </div>

           <div class="form-footer">
             <input id="product-selected-variant-{{ product.id }}" type="hidden" name="id" value="" />
             <button type="submit" class="btn btn-black add-to-cart w-100 product-form__submit" name="add">Add to cart</button>
           </div> 
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="lightbox-overlay"></div>
</div>