<div class="lightbox" id="lightbox-{{ product.id }}">
  <div class="lightbox-inner">
    <div class="lightbox-container">
      <div class="lightbox-body px">
        <div class="flex-row">
          <div class="lightbox-image col col-xs-5">
            <img src="{{ product.featured_image.src | product_img_url: "300x" }}" alt="{{ product.title | escape }}" width="100%" height="auto"/>
          </div>
          <div class="lightbox-image col col-xs-7">
            <h4>{{ product.title }}</h4> 

            <h5 class="fs-5 lustria-font">{{ product.price | money }}</h5>

            <div class="product-grid-except">
                {% if product.metafields.custom.short_description != blank %}
                  <p>{{ product.metafields.custom.short_description }}</p>
                {% else %}
                  {{ product.description }}
                {% endif %}
            </div>
          </div>
        </div>
        <div class="product-add-cart-form">
          <form>
          <div class="product-variants" id="product-variants-{{ product.id }}">
              {% assign options = product.options_with_values %}
              {{ options.color.name }}
              {% for option in options %}
                {{ option.name }}
              <div class="color-options">
                <label></label>
                {% for color in option.values %}
                <input type="radio" value="{{ color }}" />
                {% endfor %}
              </div>
              {% endfor %}
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="lightbox-overlay"></div>
</div>