{% if block != blank %}
  <div class="baner-wrappper">
    <div class="{% if block.settings.btn_style == "box-image" %}container{% elsif block.settings.btn_style == "full-image-with-padding" %}px{% endif %}">
      {% if block.settings.btn_url !=blank %}
        <a href="block.settings.btn_url" class="d-block">
          <picture class="d-block">
            <source media="(min-width:667px)" srcset="{{ block.settings.image | img_url: "master" }}">
            <source media="(min-width:220px)" srcset="{% if block.settings.mobile_image != blank %}{{ block.settings.mobile_image | img_url: "master" }}{% else %}{{ block.settings.image | img_url: "master" }}{% endif %}">
            <img width="100%" height="auto" src="{{ block.settings.image | img_url: "master" }}" alt="Banner" />
          </picture>
        </a>
      {% else %}
        <picture class="d-block">
            <source media="(min-width:667px)" srcset="{{ block.settings.image | img_url: "master" }}">
            <source media="(min-width:220px)" srcset="{% if block.settings.mobile_image != blank %}{{ block.settings.mobile_image | img_url: "master" }}{% else %}{{ block.settings.image | img_url: "master" }}{% endif %}">
            <img width="100%" height="auto" src="{{ block.settings.image | img_url: "master" }}" alt="Banner" />
          </picture>
      {% endif %}
    </div>
  </div>
{% endif %}