{% if block != blank %}
  <div class="text-baner-wrappper">
    <div class="flex-row m-0">
      <div class="col-lg-5 col">
        <div class="innerbox-w-fix">
          {% if block.settings.title !=blank %}
            <h2 class="title">{{ block.settings.title }}</h2>  
          {% endif %}
          {% if block.settings.text !=blank %}
            {{ block.settings.text }}
          {% endif %}
          {% if block.settings.btn_text !=blank %}
            <a class="btn {{ block.settings.btn_style }}" href="{{ block.settings.btn_url }}">{{ block.settings.btn_text }}</a>
          {% endif %}
        </div>
      </div>
      <div class="col-lg-7 col p-0">
        {% if block.settings.image !=blank %}
          <picture class="d-block">
            <source media="(min-width:667px)" srcset="{{ block.settings.image | img_url: "master" }}">
            <source media="(min-width:220px)" srcset="{% if block.settings.mobile_image != blank %}{{ block.settings.mobile_image | img_url: "master" }}{% else %}{{ block.settings.image | img_url: "master" }}{% endif %}">
            <img width="100%" height="auto" src="{{ block.settings.image | img_url: "master" }}" alt="Banner" />
          </picture>
      {% endif %}
      </div>
    </div>
  </div>
{% endif %}