{% if section.blocks.size > 0 %}
  <section class="sectoin-wrapper sectoin-spacing-y section--{{ section.id }}">
    <div class="container">
      {% if section.settings.title != blank %}
      <h3 class="section-title">{{ section.settings.title }}</h3>
        {% endif %}
    <div class="flex-row product-grids">
    {% for block in section.blocks %}
      {% assign product = all_products[block.settings.product] %}
        <div class="col col-md-4 col-xs-6 product-grid">
          {% render "ecom-product-grid", product: product %}
          {% render "ecom-product-popup", product: product %}
          <script id="product-string-tempalte-{{ product.id }}">
            `{{product | json }}`
          </script>
      </div>
      
      
    {% endfor %}
    </div>
    </div>
  </section>

  <script src="{{ 'ecom-expert.js' | asset_url }}" defer="defer"></script>
  
{% endif %}

{% schema %}
  {
    "name": "Econ products",
    "tag": "section",
    "class": "ecom-expert-products",
    "settings": [
      {
        "type": "header",
        "content": "Select products"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "checkbox",
        "id": "lightbox",
        "label": "Enable quick view icon",
        "default": true
      }
    ],
    "blocks": [
      {
        "type": "products_block",
        "name": "Products block",
        "settings": [
          {
            "type": "product",
            "id": "product",
            "label": "Product"
          },
          {
            "type": "header",
            "content": "Set lightbox icon position"
          },
          {
            "type": "range",
            "default": 0,
            "id": "top",
            "label": "Top distance",
            "max": 100,
            "min": 0,
            "step": 1,
            "unit": "%"
          },
          {
            "type": "range",
            "default": 0,
            "id": "left",
            "label": "Left distance",
            "max": 100,
            "min": 0,
            "step": 1,
            "unit": "%"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Econ products",
        "blocks": [
          {
            "type": "products_block"
          },
          {
            "type": "products_block"
          },
          {
            "type": "products_block"
          }
        ]
      }
    ]
  }
{% endschema %}